.new-activity
  position: relative
  bottom: 0
  width: 100%
  height: 60px
  margin: 0 0 24px 0

.new-activity__form
  position: relative
  width: 100%
  margin: auto

.new-activity__input
  outline: none
  padding: 20px
  background-color: #3e3e3e
  color: #fff
  border: 0
  font-size: 1.2rem
  font-weight: 200

.new-activity__name
  width: 70%

.new-activity__submit
  background-color: #2c3e50
  color: #fff
  width: 30%
