@import './styl/fonts'

@css {
  *:not(input:not(input[type="submit"])) {
    user-select: none;
    -webkit-user-select: none;
  }
}

*
  box-sizing: border-box
  font-family: -apple-system-body, system, Helvetica Neue, Helvetica

body
  margin: 0
  color: #fff

h1, h2, h3, h4
  font-weight: 300

input
 -webkit-appearance: none
 border-radius: 0

.app
  position: absolute
  width: 100%
  height: 100%
  background-color: #242424

@import './styl/activity-list'
@import './styl/new-activity'
